
*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   color: #72777a;
   font-family: Roboto, -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.bg-gray{
    background-color: gainsboro;
}
.container{
    max-width: 1320px;
    margin: auto;
}
.part1{
    width: 100%;
}
.part2{
    border: 1px solid red;
}
.main{
    display: flex;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.d-flex1{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    align-items: center;
}
.d-flex2{
    display: flex;
    flex-wrap: wrap;
}
.border{
    border: 1px solid red;
}
.box{
    border-bottom: 1px solid rgba(228, 220, 220, 0.637);
    border-right:  1px solid rgba(228, 220, 220, 0.637);
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.pt{
    padding-top: 10px;
}
.pt-15{
    padding-top: 25px;
}
.pl-10{
    padding-right: 10px;
}
.line .add{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.849);
    font-weight: 600;
    padding: 13px;
    display: block;
    text-decoration: none;
    /* border: 1px solid red; */
}
.box img{
    /* border: 1px solid red; */
}
.text1 a {
  text-decoration: none;
}
.fa-bars{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
.fa-bars:hover{
    color: rgb(14, 12, 12);
}
.text1{
    /* border: 1px solid red; */
    padding: 22px;
}
.btn{
    border: none;
}
.fa-magnifying-glass{
    padding-left: 15px;
}
.fa-magnifying-glass:hover{
    color: rgba(0, 0, 0, 0.664);
}
.text2{
   justify-content: center;
   align-items: center;
   /* border: 1px solid red; */
   padding: 10px;
}
.text2 a{
    text-decoration: none;
}
.justify-end{
    justify-content: end;
}
.justify-start{
    justify-content: start;
}
.fa-bell{
    padding-right: 30px;
}
.fa-envelope{
    padding-right: 30px;
}
.fa-bell:hover{
   color: black;
}
.fa-envelope:hover{
    color: black;
}
.sidebar{
    border: 1px solid gainsboro;
    width: 300px;
    transition: all 0.5s;
    height: 200vh;
}
.main{
    /* border: 1px solid black; */
}
.header{
    width: 100%;
}
.jay img{
    width: 35px;
    /*border: 1px solid red;
    */
    border-radius: 50px;
}
.text3{
    /* border: 1px solid black; */
    display: flex;
    padding: 5px 15px;
    align-items: center;
}
.dash{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    padding-top: 35px;
}
.textadd{
    display: flex;
    padding: 5.4px 15px;
    border-bottom: 1px solid gainsboro;
    align-items: center;
}
.icon{
    width: 35px;
    height: 35px;
    padding-right:30px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ri-home-4-line{
    color: #2196f3;
    font-size: 20px;
}
.line{
    /* border: 1px solid black; */
    width: 100%;
}
.line a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.line a:hover{
    color: black;
}
.ri-mail-line{
    color: #795548;
    font-size:18px
}
.fa-share-from-square{
    color:#2196f3;
    font-size: 18px;
}
.ri-calendar-line{
    color: #ff5722;
    font-size:18px
}
.ri-message-2-line{
    color: #673ab7;
    font-size:18px
}
.ri-bar-chart-line{
    color: #3f51b5;
    font-size:18px
}
.fa-pen{
    color: #03a9f4;
    font-size:18px
}
.fa-gauge{
    color: #e91e63;
    font-size:18px
}
.ri-archive-drawer-line{
    color: #ff9800;
    font-size:18px
}
.fa-map{
    color: #9c27b0;
    font-size:18px
}
.ri-pages-line{
    color: #f44336;
    font-size:18px
}
.fa-list{
    color:#009688;
    font-size:18px    
}
.hideside{
    width: 70px !important;
}
.sidebar:hover{
    width: 300px !important;
}
.sidebar:hover .line{
    display: block !important;
}
.part3{
    border: 1px solid gainsboro;
}
.text4{
    /* border: 1px solid black; */
    font-size: 16px;
    font-weight: 500;
}
.graph{
    justify-content: space-between;
    padding-top: 10px;
}
.ten{
    border-radius: 15px;
   padding: 5px 8px 5px 8px;
   background-color: #dce9dc;
   color: #4caf50;
}
.seven{
    border-radius: 15px;
   padding: 3px 8px 5px 8px;
   background-color: rgb(238, 221, 221);
   color: rgb(245, 21, 21);
}
.twel{
    border-radius: 15px;
   padding: 3px 8px 5px 8px;
   background-color: rgb(241, 218, 241);
   color: purple;
}
.three{
    border-radius: 15px;
   padding: 3px 8px 5px 8px;
   background-color: rgb(227, 240, 245);
   color: rgb(45, 154, 197);
}
.ri-bar-chart-grouped-line{
    color:#4caf4fe1;
    font-size: 40px;
}
#purple{
    color: #8e6bca;
    font-size: 40px;
}
#blue{
    color: rgb(41, 175, 228);
    font-size: 40px;
}
#red{
    color: rgb(226, 99, 99);
    font-size: 40px;
}
.maps{
    border: 1px solid gainsboro;
    padding: 10px;
}
.mapss{
    width: 100%;
    height: 500px;
}
.site{
    font-size: 18px;
    font-weight: 500;
}
.text5{
    /* border: 1px solid red; */
}
.text6{
    border-bottom: 1px solid rgba(220, 220, 220, 0.541);
    padding-bottom: 25px;
}
.k{
    font-size: 18px;
   
    font-weight: 500;
}
.visit{
    font-size: 13px;
    font-weight: 500;
    padding-top: 8px;
}
.double{
    display: flex;
    justify-content: space-between;
}

.newpart1{
    width: 70%;
}
.newpart2{
    width: 30%;
}
.linep{
    border: 3px solid purple;
    width: 50%;
    border-radius: 10px;
}
.linew{
    border: 3px solid #eaeef3;
    width: 50%;
    border-radius: 10px;
}
.newpart2{
    border: 1px solid gainsboro;
    border-left: none;
}
.lineg{
    border: 3px solid #4caf50;
    width: 80%;
    border-radius: 10px;
}
.linegw{
    border: 3px solid #eaeef3;
    width: 20%;
    border-radius: 10px;
}
.lineb{
    border: 3px solid #03a9f4;
    width: 40%;
    border-radius: 10px;
}
.linebw{
    border: 3px solid #eaeef3;
    width: 60%;
    border-radius: 10px;
}
.linegray{
    border: 3px solid #607d8b;
    width: 90%;
    border-radius: 10px;
}
.linegrayw{
    border: 3px solid #eaeef3;
    width: 10%;
    border-radius: 10px;
}
.text7{
    /* border: 1px solid red ; */
   padding: 20px;
   align-items: center;
   justify-content: center;
   /* text-align: center; */
}
.threepart{
    border: 3px solid red;
    border-left: 3px solid rgba(128, 128, 128, 0.726);
    border-radius:50%;
    text-align: center;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    padding: 20px;
}
.threepartb{
    border: 3px solid #03a9f4;
    border-left: 3px solid rgba(128, 128, 128, 0.726);
    border-bottom: 2px solid rgba(128, 128, 128, 0.726);
    border-radius:50%;
    text-align: center;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    aspect-ratio: 1/1;
    padding: 20px;
}
.threeparty{
    border: 3px solid orange;
    border-left: 3px solid rgba(128, 128, 128, 0.726);
    border-bottom: 2px solid rgba(128, 128, 128, 0.726);
    border-right: 2px solid rgba(128, 128, 128, 0.726);
    border-radius:50%;
    text-align: center;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    aspect-ratio: 1/1;
    padding: 20px;
}
.new{
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
}
.newpurchase{
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
}
.text8{
    border: 1px solid gainsboro;
}
.text8 img{
    width: 100%;
    height: 250px;
}
.text9{
    border: 1px solid gainsboro;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.ri-corner-right-up-fill{
    color: #4caf50;
    font-size: 18px;
}
.ri-corner-right-down-fill{
    color: red;
    font-size: 18px;
}
.apply{
   font-size: 12px;
   font-weight: 500;
   color: rgba(156, 155, 155, 0.808);
}
.line1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(87, 85, 85);
}
.text10{
    border: 1px solid gainsboro;
    border-bottom: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
}
.monthly{
    padding: 20px 0px 0px 20px;
    font-size: 16px;
    font-weight: 500;
}
.text11{
    border: 1px solid gainsboro;
    border-top: none;
    padding-left: 35px;
}
.row{
    display: flex;
    /* border: 1px solid green; */
    padding: 10px 0px 10px 0px;
}
.row1{
    display: flex;
    /* border: 1px solid green; */
    padding: 10px 0px 10px 0px;
}
.john{
    font-size: 14px;
    color: black;
}
.days{
   background-color: rgb(24, 153, 24);
   font-size: 13px;
   color: white;
   border-radius: 20px;
   padding: 3px 8px 3px 8px;
}
.minuts{
    background-color: red;
    font-size: 13px;
    color: white;
    border-radius: 20px;
    padding: 3px 8px 3px 8px;
}
.important{
    background-color: rgba(255, 255, 0, 0.815);
    font-size: 13px;
    color: rgb(177, 172, 172);
    border-radius: 20px;
    padding: 3px 8px 3px 8px;
}
.tomorrow{
    background-color: rgb(56, 182, 231);
    font-size: 13px;
    color:white;
    border-radius: 20px;
    padding: 3px 8px 3px 8px;
}
.d-flex3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}
.text12{
    border: 1px solid red;
}
.line2{
    
}
