*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   color: #72777a;
   font-family: Roboto, -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.container{
    max-width: 1320px;
    margin: auto;
}
.part1{
    width: 100%;
}
.part2{
    border: 1px solid red;
}
.main{
    display: flex;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}
.d-flex1{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    align-items: center;
}
.border{
    /* border: 1px solid red; */
}
.box{
    border-bottom: 1px solid rgba(228, 220, 220, 0.637);
    border-right:  1px solid rgba(228, 220, 220, 0.637);
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.line .add{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.849);
    font-weight: 600;
    padding: 13px;
    display: block;
    text-decoration: none;
    /* border: 1px solid red; */
}
.box img{
    /* border: 1px solid red; */
}
.text1 a {
  text-decoration: none;
}
.fa-bars{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
.fa-bars:hover{
    color: rgb(14, 12, 12);
}
.text1{
    /* border: 1px solid red; */
    padding: 22px;
}
.btn{
    border: none;
}
.fa-magnifying-glass{
    padding-left: 15px;
}
.fa-magnifying-glass:hover{
    color: rgba(0, 0, 0, 0.664);
}
.text2{
   justify-content: center;
   align-items: center;
   /* border: 1px solid red; */
   padding: 10px;
}
.text2 a{
    text-decoration: none;
}
.justify-end{
    justify-content: end;
}
.justify-start{
    justify-content: start;
}
.fa-bell{
    padding-right: 30px;
}
.fa-envelope{
    padding-right: 30px;
}
.fa-bell:hover{
   color: black;
}
.fa-envelope:hover{
    color: black;
}
.sidebar{
    border: 1px solid gainsboro;
    width: 300px;
    transition: all 0.5s;
    height: 100vh;
}
.header{
    width: 100%;
}
.jay img{
    width: 35px;
    /*border: 1px solid red;
    */
    border-radius: 50px;
}
.text3{
    /* border: 1px solid black; */
    display: flex;
    padding: 5px 15px;
    align-items: center;
}
.dash{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    padding-top: 35px;
}
.textadd{
    display: flex;
    padding: 5.4px 15px;
    border-bottom: 1px solid gainsboro;
    align-items: center;
}
.icon{
    width: 35px;
    height: 35px;
    padding-right:30px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ri-home-4-line{
    color: #2196f3;
    font-size: 20px;
}
.line{
    /* border: 1px solid black; */
    width: 100%;
}
.line a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.line a:hover{
    color: black;
}
.ri-mail-line{
    color: #795548;
    font-size:18px
}
.fa-share-from-square{
    color:#2196f3;
    font-size: 18px;
}
.ri-calendar-line{
    color: #ff5722;
    font-size:18px
}
.ri-message-2-line{
    color: #673ab7;
    font-size:18px
}
.ri-bar-chart-line{
    color: #3f51b5;
    font-size:18px
}
.fa-pen{
    color: #03a9f4;
    font-size:18px
}
.fa-gauge{
    color: #e91e63;
    font-size:18px
}
.ri-archive-drawer-line{
    color: #ff9800;
    font-size:18px
}
.fa-map{
    color: #9c27b0;
    font-size:18px
}
.ri-pages-line{
    color: #f44336;
    font-size:18px
}
.fa-list{
    color:#009688;
    font-size:18px    
}
.hideside{
    width: 70px !important;
}
.sidebar:hover{
    width: 300px !important;
}
.sidebar:hover .line{
    display: block !important;
}
.part3{
    border: 1px solid gainsboro;
}
.text4{
    /* border: 1px solid black; */
    font-size: 16px;
    font-weight: 500;
}
.graph{
    justify-content: space-between;
    padding-top: 10px;
}
.ten{
    border-radius: 15px;
   padding: 3px 8px 5px 8px;
   background-color: #dce9dc;
   color: #4caf50;
}
.seven{
    border-radius: 15px;
   padding: 3px 8px 5px 8px;
   background-color: rgb(238, 221, 221);
   color: rgb(245, 21, 21);
}
.twel{
    border-radius: 15px;
   padding: 3px 8px 5px 8px;
   background-color: rgb(241, 218, 241);
   color: purple;
}
.three{
    border-radius: 15px;
   padding: 3px 8px 5px 8px;
   background-color: rgb(227, 240, 245);
   color: rgb(45, 154, 197);
}
.ri-bar-chart-grouped-line{
    color:#4caf4fe1;
    font-size: 40px;
}
#purple{
    color: #8e6bca;
    font-size: 40px;
}
#blue{
    color: rgb(41, 175, 228);
    font-size: 40px;
}
#red{
    color: rgb(226, 99, 99);
    font-size: 40px;
}