*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   color: #72777a;
   font-family: Roboto, -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.container{
    max-width: 1320px;
    margin: auto;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}
.d-flex1{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    align-items: center;
}
.border{
    /* border: 1px solid red; */
}
.box{
    border-bottom: 1px solid rgba(228, 220, 220, 0.637);
    border-right:  1px solid rgba(228, 220, 220, 0.637);
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.add{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.849);
    font-weight: 600;
    text-decoration: none;
    /* border: 1px solid red; */
}
.box img{
    /* border: 1px solid red; */
 
}
.text1 a {
  text-decoration: none;
}
.fa-bars{
    color: rgba(0, 0, 0, 0.418);
    font-size: 20px;
}
.fa-bars:hover{
    color: rgb(14, 12, 12);
}
.text1{
    /* border: 1px solid red; */
    padding: 20px;
}
.btn{
    border: none;
    
}
.fa-magnifying-glass{
    padding-left: 15px;
}
.fa-magnifying-glass:hover{
    color: rgba(0, 0, 0, 0.664);
}
.text2{
   justify-content: center;
   align-items: center;
   /* border: 1px solid red; */
   padding: 10px;
}
.text2 a{
    text-decoration: none;
   
}
.justify-end{
    justify-content: end;
}
.justify-start{
    justify-content: start;
}
.fa-bell{
    padding-right: 30px;
}
.fa-envelope{
    padding-right: 30px;
}
.fa-bell:hover{
   color: black;
}
.fa-envelope:hover{
    color: black;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width:300px;
    /* border: 1px solid red; */
}
.sidebar1{
    border: 3px solid green;
    padding: 35px 0px 0px 10px;
    width: 300px;
}
.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 84.5%;
}
.jay img{
    width: 35px;
    /*border: 1px solid red;
    */
    border-radius: 50px;
}
.text3{
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}
.icon{
    width: 50px;
    border: 1px solid red;
}
.ri-home-4-line{
    color: #2196f3;
    font-size: 20px;
}
.line{
    border: 1px solid black;
}
.line a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.line a:hover{
    color: black;
}
.ri-mail-line{
    color: #795548;
    font-size:18px
}
.ri-calendar-line{
    color: #ff5722;
    font-size:18px
}
.ri-message-2-line{
    color: #673ab7;
    font-size:18px
}
.ri-bar-chart-line{
    color: #3f51b5;
    font-size:18px
}
.fa-pen{
    color: #03a9f4;
    font-size:18px
}
.fa-gauge{
    color: #e91e63;
    font-size:18px
}
.ri-archive-drawer-line{
    color: #ff9800;
    font-size:18px
}
.fa-map{
    color: #9c27b0;
    font-size:18px
}
.ri-pages-line{
    color: #f44336;
    font-size:18px
}
.fa-list{
    color:#009688;
    font-size:18px    
}